APP_NAME=MetaFilter
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_HOST=metafilter.test
APP_URL=https://metafilter.test
APP_TEST_URL=https://www.metafilter.test
APP_DEFAULT_SUBDOMAIN=www

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

BCRYPT_ROUNDS=12

BLUESKY_USERNAME=
BLUESKY_PASSWORD=

BROADCAST_CONNECTION=log

CACHE_STORE=database
CACHE_PREFIX=

DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

DEBUGBAR_ENABLED=true

FILESYSTEM_DISK=local

HONEYPOT_NAME="full-name"

IPINFO_SECRET=

LOG_CHANNEL=daily
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="contact@metafilter.com"
MAIL_TO_ADDRESS="admin@metafilter.com"
MAIL_FROM_NAME="${APP_NAME}"

MAILS_ENCRYPTED=
MAILS_LOGGING_ATTACHMENTS_ENABLED=
MAILS_LOGGING_ENABLED=
MAILS_QUEUE_WEBHOOKS=

MEMCACHED_HOST=127.0.0.1

PAYPAL_MODE=sandbox

PAYPAL_LIVE_APP_ID=
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

QUEUE_CONNECTION=database

SESSION_DOMAIN=.metafilter.test
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/

SLACK_BOT_USER_DEFAULT_CHANNEL=
SLACK_BOT_USER_OAUTH_TOKEN=

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_WEBHOOK_TOLERANCE=300

VITE_APP_NAME="${APP_NAME}"
