includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/

    level: 5

    ignoreErrors:
        - '#Trait .* is used zero times and is not analysed.#'

    stubFiles:
        - stubs/view.stub
