*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    text-size-adjust: none;
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    padding: 0;
    transition:
        color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

body,
h1, h2, h3, h4,
p, figure, blockquote, pre,
dl, dd {
    margin: 0;
}

h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

input,
button,
textarea,
select {
    font: inherit;
}

summary > * {
    display: inline;
}

textarea:not([rows]) {
    min-height: 10rem;
}

:target {
    scroll-margin-block: 1.5rem;
}

// https://www.tonymottaz.com/blog/bell-coyier-css-reset/
// https://piccalil.li/blog/a-more-modern-css-reset/
// https://chriscoyier.net/2023/10/03/being-picky-about-a-css-reset-for-fun-pleasure/
