
.fade-out,
.hidden {
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.fade-out,
.hidden,
.visible {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
}

.fade-out > div,
.hidden > div,
.visible > div {
    margin-top: -100rem;
}


.fade-out > div {
    transition: margin-top 0s 3s;
}

.hidden {
    transition: visibility 0s 1s, opacity 1s linear;
}

.hidden > div {
    transition: margin-top 0s 2s;
}

.collapsible-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;
}

// https://fvsch.com/articles/transition-fade/test5.html

@media (prefers-reduced-motion: no-preference) {
    .collapsible-container.is-expanded {
        grid-template-rows: 1fr;
    }

    .collapsible-contents {
        overflow: hidden;
    }

    .fade-out {
        transition: visibility 0s 3s, opacity 3s linear;
    }

    @view-transition {
        navigation: auto;
    }

    .transition-fast {
        transition-duration: 0.2s;
    }
}

