
button,
.button {
    inline-size: fit-content;
    touch-action: manipulation;
    user-select: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    outline: none;
    border: none;
    color: var(--white);
    background-color: #4070f4;
    border-radius: 0.33rem;
    cursor: pointer;
    transition: 0.3s;
}

.button.footer-button {
    color: inherit;
    background-color: inherit;
}

.dropdown-button {
    white-space: nowrap;
    text-align: left;
}

.post-footer .button.footer-button {
    margin: 0 0.5rem 0 0;
}

button .primary-button,
.button.primary-button {
    color: var(--black);
    background-color: var(--yellow-green);
    border-radius: 8px;
    border-style: none;
    display: block;
    height: 40px;
    // TODO: Use decimals and rems
    line-height: 20px;
    margin: 0 auto 1.25rem auto;
    outline: none;
    padding: 10px 16px 10px 16px;
    position: relative;
    font-weight: bold;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
}

button .primary-button:hover,
.button.primary-button:hover {
    color: var(--yellow-green);
    background-color: var(--black);
}

.footer-button:hover,
a.footer-button:hover {
    color: var(--black);
    background-color: var(--lightest-gray);
}

.footer-button:disabled:hover,
a.footer-button:disabled:hover {
    background-color: transparent;
}

.global-navigation button.dropdown-toggle {
    padding-right: 1.5rem;
    position: relative;
}

.global-navigation button.dropdown-toggle::after {
    content: '';
    position: absolute;
    top: 1.1rem;
    left: 3.1rem;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #e8e8e8;
    clear: both;
}

.global-navigation button.dropdown-toggle:hover::after {
    border-top-color: var(--yellow-green);
}

form .button.icon-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.site-header button {
    width: inherit;
    border: none;
    border-radius: 0;
}

.site-header .button.icon-search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.site-header .button.icon-search:hover {
    color: var(--black);
    background-color: var(--yellow-green);
}

.logout-button {
    border: none;
    display: inline-block;
}
