:root {
    --button-border-radius: 0.33rem;
    --button-border-width: 0.25rem;
}

button,
.button {
    inline-size: fit-content;
    touch-action: manipulation;
    user-select: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    outline: none;
    color: inherit;
    height: auto;
    line-height: 1;
    background-color: inherit;
    border-color: transparent;
    border-radius: var(--button-border-radius);
    border-style: solid;
    transition: 0.3s;
    text-decoration: none;
}

.cta-button,
.main-contents .cta-button {
    display: block;
    color: var(--black);
    background-color: var(--yellow-green);
    border-color: var(--yellow-green);
    border-width: var(--button-border-width);
}

button .cta-button:hover,
.button.cta-button:hover {
    color: var(--yellow-green);
    background-color: var(--black);
    border-color: var(--yellow-green);
    border-width: var(--button-border-width);
}

.danger-button {
    color: var(--white);
    background-color: var(--is-danger);
    border-color: var(--is-danger);
    border-width: var(--button-border-width);
}

.danger-button:hover {
    color: var(--is-danger);
    background-color: var(--white);
    border-color: var(--is-danger);
    border-width: var(--button-border-width);
}

.link-button {

}

.primary-button {

}

.secondary-button {

}

button .primary-button,
.button.primary-button,
.site-footer a.button {
    display: block;
    color: var(--black);
    background-color: var(--yellow-green);
}

button .primary-button:hover,
.button.primary-button:hover {
    color: var(--yellow-green);
    background-color: var(--black);
    text-decoration: none;
}

main > .primary-button {
    margin-bottom: 1rem;
}

.main-sidebar,
.global-navigation button.dropdown-toggle {
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
    border: none;
    border-radius: 0;
    position: relative;
}

.global-navigation button.dropdown-toggle::after {
    content: '';
    position: absolute;
    top: 1.1rem;
    left: 3.25rem;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #e8e8e8;
    clear: both;
}

.global-navigation button.dropdown-toggle:hover::after {
    border-top-color: var(--yellow-green);
}

.help-fund-mefi .primary-button {
    margin: 0 auto 1rem auto;
}

.logout-button {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 0.625rem;
    border-radius: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.top-bottom-button {
    position: absolute;
    right: -2.75rem;
}

.bottom-button {
    bottom: 0.75rem;
}

.top-button {
    top: -3.5rem;
}
