
.dropdown-container {
    position: relative;
}
/*
.dropdown,
.dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
*/
.dropdown-menu {
    color: var(--black);
    background-color: var(--white);
    list-style: none;
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dropdown-menu.expanded {
    display: block;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu form {
    margin: 0 0.5rem 0 0.5rem;
}
