:root {
    --border-radius: 0.33rem;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--lightest-blue);
    background-color: var(--darker-blue);
}

main {
    color: var(--darker-blue);
    background-color: var(--lightest-blue);
    border-radius: var(--border-radius);
}

.site-title-text {
    color: var(--white);
    background-color: var(--blue);
    white-space: nowrap;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    font-weight: 600;
}

.site-title-text .green {
    color: var(--yellow-green);
}

.site-title-text .white {
    color: var(--white);
}

p,
.site-title-text {
    padding: 1rem;
}
