
// https://blog.logrocket.com/style-forms-css/

:root {
    --input-border-width: 1.5px;
    --input-border-radius: 0.25rem;
    --input-padding: 0.5em;
}

select,
textarea,
main input[type='email'],
main input[type='password'],
main input[type='search'],
main input[type='text'],
main input[type='url'] {
    border-radius: var(--input-border-radius);
    padding: var(--input-padding);
    width: 100%;
}

input[type='radio'] {
    appearance: none;
    background-color: inherit;
    margin: 0;
    font: inherit;
    color: currentColor;
    border: 0.15rem solid currentColor;
    width: 1.15rem;
    height: 1.15rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type='radio']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--dark-base-color);
}

input[type='radio']:checked::before {
    transform: scale(1);
    background-color: CanvasText;
}

input[type='radio']:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.radio-button-label:focus-within {
    color: var(--dark-base-color);
}

.ck.ck-reset[role='application'] {
    margin: 0 0 1rem 0;
}

.fantastic {
    margin-bottom: 1rem;
}

.input-icon-wrap {
    display: flex;
    flex-direction: row;
}

.input-with-icon {
    border: none;
    flex: 1;
}

.icon-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 0 auto;
}

.icon-group .icon {
    padding: 0.8rem 1rem 0.7rem 1rem;
    background: inherit;
    color: #fff;
}

.input-icon, .input-with-icon {
    padding: 10px;
}

.input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

.icon-search {
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input[type='search'] {
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-add-on {
    display: flex;
}

.input-add-on input {
    flex: 1;
}

button,
label {
    cursor: pointer;
}

button:disabled,
label:disabled {
    cursor: default;
}

.buttons {
    margin: 0 0 1rem 0;
    padding: 0;
}

form {
    padding: 1.5rem;
    border-radius: 0.25rem;
}

.logout-form {
    border-radius: 0;
}

form.has-steps {
    border-top-left-radius: 0;
}

fieldset {
    border: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.field,
fieldset:last-of-type {
    margin: 0 0 1rem 0;
}

input + small {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

search form {
    padding: 0;
    display: initial;
}

search label {
    display: inline-block;
}

form {
    margin: 0 0 1rem 0;
    padding: 1.5rem;
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}

.link-button:hover {
    text-decoration: underline;
}

.logout-form {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

form.mode-switcher,
.global-navigation form {
    margin-bottom: 0;
}

.global-navigation form input[type='search'] {
    padding: 0.25rem;
}

.global-navigation form .input-add-on {
    height: 2rem;
}

main form {
    margin: 0 auto 0 auto;
    max-width: 75%;
}

.form-group {
    margin: 0 0 1rem 0;
    padding: 0;
}

form small,
.form-group label {
    display: block;
    margin-bottom: 0;
}

form small.space {
    margin-bottom: 1rem;
}

form small.form-note {
    margin: 0 0 0.5rem 0;
}

.form-group label {
    padding-bottom: 0.25rem;
}

label.optional {

}

.required-field {
    color: var(--is-danger);
}
