
.icon {
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    margin: 0 0.025rem 0 0;
    position: relative;
    bottom: -0.2rem;
}

.sidebar .icon {
    margin-right: 0.5rem;
}

.dropdown-toggle .icon {
    fill: var(--yellow-green);
    width: 2rem;
    height: 2rem;
}
