img,
picture {
    max-width: 100%;
    display: block;
}

.icon {
    color: inherit;
}

.icon img {
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    margin: 0 0.025rem 0 0;
    position: relative;
    bottom: -0.2rem;
    color: currentColor;
}

svg {
    fill: currentColor;
}
