img,
picture {
    max-width: 100%;
    display: block;
}

figure {
    width: fit-content;
}

figure a:link,
figure a:visited {
    display: block;
    border: 3px solid transparent;
}

figure a:hover {
    border-color: var(--yellow-green);
}

.icon {
    color: inherit;
}

.icon img {
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    margin: 0 0.025rem 0 0;
    position: relative;
    bottom: -0.15rem;
    color: currentColor;
}

.icon.icon-big img {
    width: 1.25rem;
    height: 1.25rem;
}

.icon.icon-bigger img {
    width: 1.5rem;
    height: 1.5rem;
}

.icon.icon-small img {
    width: 0.75rem;
    height: 0.75rem;
    bottom: 0;
}

.icon.icon-smaller img {
    width: 0.5rem;
    height: 0.5rem;
}

svg {
    fill: currentColor;
}
