@use '../mixins/breakpoints';

:root {
    --global-spacing: 3rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto 0 auto;
}

.fine-print {
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
}

.global-footer {
    padding: 2rem 0 2rem 0;
}

.global-footer h3 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 0.25rem;
    padding-bottom: 0.5rem;
    line-height: 1;
}

.global-header .container {
    justify-content: space-between;
}

.level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.global-navigation .level {
    align-items: center;
}

.minimal .main-contents {
    flex: 1;
}

.main-contents-wrapper {
    position: relative;
}

.main-sidebar {
    position: sticky;
    top: 0;
    margin: 0 0 3rem 0;
}

.main-sidebar section {
    margin: 0 0 1rem 0;
}

.main-sidebar details {
    position: relative;
    padding: 3rem 1.5rem 1rem 1.5rem;
}
/*
// TODO: Figure out minimizing when closed
.main-sidebar details[open] {
    padding: 0;
}
*/

.main-sidebar summary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    border-top-left-radius: 0.33rem;
    border-top-right-radius: 0.33rem;
}

.secondary-navigation {
    position: relative;
    border-bottom-left-radius: 0.33rem;
    border-bottom-right-radius: 0.33rem;
}

.main-sidebar summary h3 {
    line-height: 1;
}

.main-sidebar .help-fund-mefi {
    padding-top: 1rem;
}

.profile {
    gap: 3rem;
}

.profile section {
    width: 33%;
}

.search-and-contact {
    max-width: 25%;
}

.site-banner {
    position: relative;
}

.site-banner > button {
    position: absolute;
    top: 0;
    right: 0;
}

.site-header {
    display: flex;
    flex-direction: column;
}

.minimal .site-header {
    padding-bottom: 1rem;
}

.tagline {
    display: none;
}

//noinspection SassScssResolvedByNameOnly
@include breakpoints.tablet-portrait-up() {
    .global-footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #global-navigation-toggle,
    .responsive-br,
    .global-header .dropdown-toggle {
        display: none;
    }

    .main-contents-wrapper {
        display: flex;
        flex-direction: row;
        flex: 1;
        gap: 4rem;
    }

    .global-navigation .container > ul,
    .main-contents {
        width: 75%;
    }

    .minimal .main-contents {
        width: 50%;
        margin: 3rem auto 3rem auto;
    }

    .minimal .site-header .container {
        padding: 1rem 0 0 0;
    }

    .global-navigation .container > search,
    .main-sidebar {
        width: 25%;
    }

    .global-header {
        order: 2;
    }

    .global-navigation {
        order: 3;
    }

    .site-banner {
        order: 1;
    }

    .primary-navigation {
        order: 4;
    }

    .tagline {
        display: block;
    }
}
