@use '../mixins/breakpoints';

:root {
    --global-spacing: 3rem;
}

body {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.fine-print {
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
}

.level {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-level {
    background-color: var(--white);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.primary-sidebar {
    padding: var(--global-spacing) var(--global-spacing) 0 0;
}

.secondary-sidebar {
    padding: var(--global-spacing) 0 0 var(--global-spacing);
}

.global-header {
    display: flex;
    flex-direction: column;
}

.tagline {
    display: none;
}
//noinspection SassScssResolvedByNameOnly
@include breakpoints.tablet-portrait-up() {
    .tagline {
        display: block;
    }

    .site-banner {
        order: 1;
    }

    .site-header {
        order: 2;
    }
}
