@use "../mixins/breakpoints";


:root {
    --global-spacing: 3rem;
}

body {
    min-height: 100vh;
    padding: 0;
    background-color: var(--neutral-gray);
    display: flex;
    flex-direction: column;
}

.fine-print {
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
}

.level {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-level {
    background-color: var(--white);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 0 auto;
}


.primary-sidebar {
    padding: var(--global-spacing) var(--global-spacing) 0 0;
}

.secondary-sidebar {
    padding: var(--global-spacing) 0 0 var(--global-spacing);
}

//noinspection SassScssResolvedByNameOnly
@include breakpoints.tablet-portrait-up() {
    .container.wrapper {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }

    .primary-sidebar,
    .secondary-sidebar {
        width: 50%;
    }
}

//noinspection SassScssResolvedByNameOnly
@include breakpoints.big-desktop-up() {
    .primary-sidebar {
        order: -1;
    }

    .main-contents {
        padding: 3rem 0 0 0;
        width: 60%;
        background-color: var(--white);
        border-right: 1px solid var(--light-mode-border-color);
        border-left: 1px solid var(--light-mode-border-color);
    }

    .dark-mode .main-contents {
        border-right: 1px solid var(--dark-mode-border-color);
        border-left: 1px solid var(--dark-mode-border-color);
    }

    .primary-sidebar,
    .secondary-sidebar {
        width: 20%;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
