@use '../mixins/breakpoints';

a {
    text-decoration: none;
    transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

a:not([class]) {
    text-decoration-thickness: max(0.08rem, 1px);
    text-underline-offset: 0.15em;
}

.dropdown-toggle,
.global-navigation a,
.utility-navigation a {
    display: block;
    text-align: left;
}

.dropdown-toggle,
.global-navigation a {
    width: 100%;
}

.global-navigation .dropdown-menu a:link,
.global-navigation .dropdown-menu a:visited,
.utility-navigation .dropdown-menu a:link,
.utility-navigation .dropdown-menu a:visited {
    display: block;
    width: 100%;
}

.global-navigation a,
.utility-navigation a {
    padding: 0.625rem;
}

form a,
.notification a {
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.25rem;
}

.post-navigation-menu a {
    display: inline-block;
    height: 2rem;
    padding: 0.5rem;
    position: relative;
}

.post-navigation-menu a[aria-current='page']::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 0 -8px -8px;
    border-width: 8px 8px 0 8px;
    border-style: solid solid none solid;
    border-top: 8px solid var(--lightest-gray);
}

.site-banner a {
    display: inline-block;
    padding: 0.25rem;
}

.primary-navigation-menu a,
.secondary-navigation-menu a {
    display: block;
    padding: 0.5rem;
}

.years-ago a:link,
.years-ago a:visited,
main .steps li {
    display: inline-block;
    margin: 0;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

main .steps li:first-of-type,
.years-ago li:first-of-type a {
    border-top-left-radius: 0.25rem;
}

main .steps li:last-of-type,
.years-ago li:last-of-type a {
    border-top-right-radius: 0.25rem;
}

.years-ago li:first-of-type a {
    border-bottom-left-radius: 0.25rem;
}

.years-ago li:last-of-type a {
    border-bottom-right-radius: 0.25rem;
}

@include breakpoints.phone-only() {
    .primary-navigation-menu li {
        width: 25%;
    }
}

button:focus,
.global-navigation a:focus,
.utility-navigation a:focus {
    outline: max(1px, 0.1em) dashed currentColor;
    outline-offset: -0.25em;
}

.site-footer ul a {
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    width: fit-content;
}

.site-footer .footer-subsite-menu a {
    display: inline-block;
}
