
main dd,
main li {
    margin: 0 0 1rem 0;
    padding: 0;
}

main .steps li {
    text-align: center;
}

main .steps li .stepNumber {
    display: block;
    width: 1rem;
    margin: 0 auto;
}

main .notification ul li,
main li:last-of-type {
    margin-bottom: 0;
}

.site-footer ul.two-columns {
    columns: 2;
    column-gap: 0;
}

.inline,
.steps li {
    list-style: none;
}

.steps {
    margin: 0;
    padding: 0;
    width: fit-content;
    white-space: nowrap;
}

.steps li,
.tag-list li,
.years-ago li {
    display: inline;
}

.steps li {
    text-align: center;
}

.years-ago {
    text-align: center;
}

.years-ago ol {
    margin: 0 auto 0.15rem auto;
    width: fit-content;
}
