
ul.bulleted {
    margin: 0 0 1rem 1rem;
    padding: 0;
    list-style: disc;
}

.site-footer ul.two-columns {
    columns: 2;
    column-gap: 0;
}

.inline {
    list-style: none;
}

.tag-list li,
.years-ago li {
    display: inline;
}

.years-ago {
    text-align: center;
}

.years-ago ol {
    margin: 0 auto 0.15rem auto;
    width: fit-content;
}
