
// TODO: Use focus-within to highlight the dropdown menu when it is open

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    white-space: nowrap;
}

nav ul.dropdown li,
nav.column ul li{
    display: block;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle > img {
    pointer-events: none;
}

.site-header .container {
    position: relative;
}

.site-header .container .navbar-menu {
    position: absolute;
    top: 100%;
    z-index: 100;
}

.site-header .container .navbar-menu.global-navigation {
    left: 0;
}

.site-header .container .navbar-menu.utility-navigation {
    right: 0;
}

/*
nav li {
}

.has-dropdown {
    position: relative;
}

.has-dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
}

.dropdown-menu {
    z-index: 100;
    min-width: 100%;
    background-color: var(--gray-999);
}


.dropdown-menu:focus-within {
    visibility: visible;
}

.global-navigation ul {
    column-count: 2;
    column-gap: 0;
}

.utility-navigation {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
}

.utility-navigation li {
    display: inline;
}

.secondary-navigation a[aria-current='page']::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -8px;
    margin-bottom: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--lightest-gray);
}

@include big-desktop-up() {
    .global-navigation ul {
        column-count: initial;
    }

    nav li {
        display: inline-block;
    }

    nav .dropdown-menu li {
        display: block;
    }

    .site-footer nav li {
        display: block;
    }

    .utility-navigation {
        position: initial;
        width: fit-content;
    }
}
*/
