@use '../mixins/breakpoints';

// TODO: Use focus-within to highlight the dropdown menu when it is open

nav ul,
.site-banner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    white-space: nowrap;
}

.has-dropdown {
    position: relative;
}

.site-footer nav ul li {
    display: block;
}

.dropdown-toggle > img {
    pointer-events: none;
}

.global-header .container {
    padding: 1rem 0 1rem 0;
    position: relative;
}

.post-navigation {
    height: 2rem;
    position: relative;
    top: -2rem;
}

.subsite-header {
    margin-bottom: 2rem;
}

.utility-navigation {
    position: relative;
    top: -1.15rem;
}

.utility-navigation .icon {
    display: inline-block;
    margin: 0 0.25rem 0 0;
}

.utility-navigation-menu li:first-child a {
    border-bottom-left-radius: 0.25rem;
}

.utility-navigation-menu li:last-child a {
    border-bottom-right-radius: 0.25rem;
}

@include breakpoints.phone-only() {
    nav ul.primary-navigation {
        width: 100%;
        display: inline-flex;
    }

    nav ul.primary-navigation li {
        flex: auto;
        width: 25%;
    }
}
/*
.global-header .container .navbar-menu {
    position: absolute;
    top: 100%;
    z-index: 100;
}

.global-header .container .navbar-menu.global-navigation {
    left: 0;
}

.global-header .container .navbar-menu.utility-navigation {
    right: 0;
}
*/

/*
nav li {
}

.has-dropdown {
    position: relative;
}

.has-dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
}

.dropdown-menu {
    z-index: 100;
    min-width: 100%;
    background-color: var(--gray-999);
}


.dropdown-menu:focus-within {
    visibility: visible;
}

.global-navigation ul {
    column-count: 2;
    column-gap: 0;
}


@include big-desktop-up() {
    .global-navigation ul {
        column-count: initial;
    }

    nav li {
        display: inline-block;
    }

    nav .dropdown-menu li {
        display: block;
    }

    .site-footer nav li {
        display: block;
    }

    .utility-navigation {
        position: initial;
        width: fit-content;
    }
}
*/
