
.notification {
    width: fit-content;
    max-width: 30rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.25rem;
}

.main-contents > .notification {
    margin-bottom: 2rem;
}
