
.notification {
    width: fit-content;
    max-width: 30rem;
    margin: 0 auto 1rem auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: relative;
    border: 2px solid;
    border-radius: 4px;
}

.main-contents > .notification {
    margin-bottom: 2rem;
}
