
.comment,
.post {
    margin: 0;
    padding: var(--global-spacing) var(--global-spacing) 1rem var(--global-spacing);
    border-bottom: 1px solid var(--lighter-gray);
}

.comment:first-of-type,
.post:first-of-type {
    top: 1px solid var(--lighter-gray);
}

.post-footer {
    width: fit-content;
    margin: 0;
    padding: 0;
    color: inherit;
}
