
.comment,
.post {
    margin: 0;
    padding: 1rem var(--global-spacing) 1rem var(--global-spacing);
    border-bottom: 1px solid var(--light-mode-border-color);
}

.comment:first-of-type,
.post:first-of-type {
    border-top: 1px solid var(--light-mode-border-color);
}

.dark-mode .comment,
.dark-mode .post {
    border-bottom: 1px solid var(--dark-mode-border-color);
}

.dark-mode .comment:first-of-type,
.dark-mode .post:first-of-type {
    border-top: 1px solid var(--dark-mode-border-color);
}

.post-footer {
    width: fit-content;
    margin: 0;
    padding: 0;
    color: inherit;
}
