
.previous-next {
    gap: 2rem;
    margin: 0 0 1rem 0;
}

.next,
.previous {
    display: inline-block;
    position: relative;
    flex: 1;
    border-radius: 0.25rem;
    padding: 1rem;
    max-width: 50%;
}

.next .title,
.previous .title {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90%;
}

.next {
    margin: 0;
    text-align: right;
}

.previous {
    margin: 0;
}

.next::after,
.previous::before {
    position: absolute;
}

.previous::before {
    left: 1rem;
}

.next::after {
    top: 1rem;
    right: 1rem;
}
