
.previous-next {
    gap: 2rem;
    margin: 0 0 1rem 0;
}

.next,
.previous {
    display: inline-block;
    position: relative;
    flex: 1;
}

.next .title,
.previous .title {
    display: block;
}

.next {
    margin: 0;
    padding: 1rem 2rem 1rem 1rem;
    text-align: right;
}

.previous {
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
}

.next::after,
.previous::before {
    position: absolute;
}

.previous::before {
    content: '<';
    left: 1rem;
}

.next::after {
    content: '>';
    top: 1rem;
    right: 1rem;
}
