
.main-sidebar section {
    margin: 0 0 1rem 0;
}

.main-sidebar section:last-of-type {
    margin-bottom: 0;
}

.main-sidebar section header {
    margin: 0 0 0.5rem 0;
}

.main-sidebar section h3,
.main-sidebar section p {
    padding: 0 1rem 0 1rem;
}

.main-sidebar section p {
    padding-bottom: 1rem;
}
