
.site-banner {
    color: var(--black);
    background-color: var(--yellow-green);
    text-align: center;
}

.site-banner li {
    display: inline;
}

.site-banner li::after {
    content: '||';
}

.site-banner li:last-child::after {
    content: '';
}
