@use '../mixins/breakpoints';

.site-header {
    position: relative;
    z-index: 100;
}

.tagline {
    display: none;
}

.global-navigation-search-form {
    margin: 0 var(--global-spacing) 0 var(--global-spacing);
    padding: 0;
}

//noinspection SassScssResolvedByNameOnly
@include breakpoints.big-desktop-up() {
    .global-navigation-search-form {
        margin: 0;
    }

    .tagline {
        display: block;
    }
}
