
tbody th {
    text-align: left;
}

.contributions tbody td,
thead th.numbers,
tbody td.numbers {
    text-align: center;
}

.contributions tbody th,
.contributions thead th:first-of-type {
    text-align: left;
}
