:root {
    --font-size-minus-3: 0.625rem; // 10px
    --font-size-minus-2: 0.75rem; // 12px
    --font-size-minus-1: 0.875rem;  // 14px
    --font-size-normal: 1rem;
    --font-size-plus-1: 1.125rem; // 18px
    --font-size-plus-2: 1.25rem; // 20px
    --font-size-plus-3: 1.5rem; // 24px
    --font-size-plus-4: 1.75rem; // 28px
    --font-size-plus-5: 2rem; // 32px
}

html {
    font-family: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.comment,
.post {
    line-height: 1.5;
}

h1, h2, h3, h4,
.site-title {
    font-family: Montserrat, "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1;
}

.site-title-text {
    font-size: var(--font-size-plus-5);
}

html {
    font-size: 100%;
}

label,
small,
.secondary-navigation,
.utility-navigation {
    font-size: var(--font-size-minus-1);
}

.site-title {
    letter-spacing: -1px;
}

p,
li,
h1,
h2,
h3,
h4 {
    overflow-wrap: break-word;
}

.main-contents h1 {
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.main-contents h3 {
    line-height: 1.25;
    margin-bottom: 0.25rem;
}

body,
h1, h2, h3, h4,
.secondary-navigation a,
.site-footer a,
.site-title,
.notification {
    font-weight: 400;
}

.tagline {
    font-weight: 500;
}

.dropdown-toggle,
.logout-button,
nav a,
.notification a,
.posts h4 {
    font-weight: 600;
}

.site-footer p {
    line-height: 1.4rem;
}

.icon-comment-empty {
    display: inline-block;
}
