html {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 100%;
}

:root {
    --font-size-minus-3: 0.625rem; // 10px
    --font-size-minus-2: 0.75rem; // 12px
    --font-size-minus-1: 0.875rem; // 14px
    --font-size-normal: 1rem;
    --font-size-plus-1: 1.125rem; // 18px
    --font-size-plus-2: 1.25rem; // 20px
    --font-size-plus-3: 1.5rem; // 24px
    --font-size-plus-4: 1.75rem; // 28px
    --font-size-plus-5: 2rem; // 32px
}

.comment,
.post {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
.site-title {
    font-family: Montserrat, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

cite,
em {
    font-style: italic;
}

.comment-footer,
.dateline,
.dropdown-menu,
label,
.next .title,
.nickname-prompt,
.post-footer,
.post-navigation,
.previous .title,
small,
.utility-navigation {
    font-size: var(--font-size-minus-1);
}

small.form-note {
    font-size: var(--font-size-minus-2);
}

.sidebar h3 {
    font-size: var(--font-size-normal);
}

.next,
.previous,
.main-contents h2 {
    font-size: var(--font-size-plus-1);
}

.main-contents h1 {
    font-size: var(--font-size-plus-3);
}

.site-title-text {
    font-size: var(--font-size-plus-5);
}

hgroup {
    margin: 0;
    padding: 0;
}

.nickname-prompt {
    max-width: 44rem;
}

.site-title {
    letter-spacing: -1px;
}

small {
    display: block;
    margin: 0 0 1rem 0;
}

p,
li,
h1,
h2,
h3,
h4 {
    overflow-wrap: break-word;
}

.main-contents h1 {
    margin-bottom: 1rem;
}

.main-contents h2 {
    line-height: 1;
    margin-bottom: 0.5rem;
}

.main-contents h3 {
    line-height: 1.25;
    margin-bottom: 0.25rem;
}

.main-contents p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

.main-contents .notification p {
    margin-bottom: 0;
}

.profile h2 {
    margin-bottom: 1rem;
}

.profile h3 {
    margin-bottom: 1rem;
}

.profile h4 {
    margin-bottom: 1rem;
}

.notification {
    line-height: 1.5rem;
}

body,
h1, h2, h3, h4,
.notification,
nav.post-navigation a,
.site-footer a,
.site-title,
.tagline {
    font-weight: 400;
}

tbody th {
    font-weight: 500;
}

button,
.button,
.current-theme,
.dropdown-toggle,
legend,
.logout-button,
nav a,
.notification a,
.posts h4,
.site-banner,
.site-footer a.button,
.tagline,
th,
.years-ago a {
    font-weight: 600;
}

.current-theme {
    font-weight: 700;
}

.nowrap {
    white-space: nowrap;
}

.site-footer p {
    line-height: 1.4rem;
}

.icon-comment-empty {
    display: inline-block;
}

