
// HTML tags

body {
    color-scheme: light dark;
}

input:focus {
    outline: 2px solid var(--royal-blue);
    box-shadow: 1px 1px 8px 1px var(--royal-blue);
}

input:focus::placeholder {
    color: transparent;
}

// Classes

.fine-print,
.global-navigation,
.global-navigation a:link,
.global-navigation a:visited {
    color: var(--white);
    background-color: var(--light-base-color);
}

.we-all-float {
    color: var(--lighter-base-color);
}

.global-footer h3 {
    color: var(--lightest-base-color);
    background-color: inherit;
}

.global-header{
    color: var(--white);
    background-color: var(--base-color);
}

.global-navigation a[aria-current='page']:link,
.global-navigation a[aria-current='page']:visited,
.logout-button:hover,
.site-banner a:link,
.site-banner a:visited,
.logout-button {
    color: var(--black);
    background-color: var(--yellow-green);
}

.utility-navigation a:link,
.utility-navigation a:visited {
    color: var(--dark-gray);
    background-color: var(--yellow-green);
}

.dropdown-toggle:hover,
.global-navigation a:active,
.global-navigation a:hover,
.global-navigation a[aria-current='page']:active,
.global-navigation a[aria-current='page']:hover,
.global-navigation .dropdown-menu a:active,
.global-navigation .dropdown-menu a:hover,
.logout-button:hover,
.site-banner a:hover,
.utility-navigation a:active,
.utility-navigation a:hover,
.utility-navigation a[aria-current='page']:link,
.utility-navigation a[aria-current='page']:visited {
    color: var(--yellow-green);
    background-color: var(--dark-gray);
}

.global-navigation a[aria-current='page']:active,
.global-navigation a[aria-current='page']:hover,
.utility-navigation a[aria-current='page']:active,
.utility-navigation a[aria-current='page']:hover {
    outline-offset: -0.25rem;
}

.global-footer h3 {
    border-bottom-color: var(--light-base-color);
}

.dropdown-toggle {
    color: var(--white);
    background-color: inherit;
}

.logout-button {
    border-bottom-color: var(--yellow-green);
}

.logout-button:active,
.logout-button:hover {
    border-bottom-color: var(--black);
}

.site-header .dropdown-toggle {
    width: fit-content;
}

.input-add-on .icon-search {
    color: var(--white);
}

input[type='search'],
input[type='search']:focus {
    background-color: var(--white);
}

::selection {
    color: var(--yellow-green);
    background-color: var(--blue);
}

.sidebar section {
    color: var(--gray-333);
    background-color: var(--gray-999);
}

.site-footer {
    color: var(--white);
    background-color: var(--dark-base-color);
    border-top: 5px solid var(--light-base-color);
}

.site-footer ul a {
    color: var(--yellow-green);
    background-color: inherit;
}

.site-footer ul a:hover {
    color: var(--white);
    background-color: inherit;
    text-decoration: underline;
}

.site-footer .rss {
    background-color: transparent;
    margin-right: 0.25rem;
}

.minimal .site-header {
    background-color: var(--base-color);
}
.site-header {
    border-top: 3px solid var(--yellow-green);
}

.site-title {
    background-color: var(--base-color);
}

.site-title .green {
    color: var(--yellow-green);
}

.site-title .white,
.skip-navigation {
    color: var(--white);
}

.skip-navigation {
    // TODO: Pick color
    background-color: green;
}

// https://csscolorize.com/
// https://cssfiltergenerator.lol/

// Filter for dark-gray
.utility-navigation .icon {
    filter: brightness(0) saturate(100%) invert(24%) sepia(12%) saturate(0%) hue-rotate(243deg) brightness(95%) contrast(94%);
}

// Filter for rss-orange
.rss:active .icon,
.rss:hover .icon {
    filter: invert(63%) sepia(82%) saturate(2553%) hue-rotate(345deg) brightness(91%) contrast(103%);
}

// Filter for white
.danger-button .icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(7500%) hue-rotate(245deg) brightness(125%) contrast(122%);
}

// Filter for is-danger
.danger-button:hover .icon {
    filter: brightness(0) saturate(100%) invert(9%) sepia(55%) saturate(6722%) hue-rotate(332deg) brightness(76%) contrast(100%);
}

// Filter for yellow-green
.logout-button:active .icon,
.logout-button:hover .icon,
.utility-navigation a:active .icon,
.utility-navigation a:hover .icon {
    filter: invert(67%) sepia(59%) saturate(368%) hue-rotate(41deg) brightness(97%) contrast(89%);
}

::placeholder {
    // TODO: Pick color
    color: #767676;
}
