
:root {
    --darker-base-color: var(--darker-blue);
    --dark-base-color: var(--dark-blue);
    --base-color: var(--blue);
    --light-base-color: var(--light-blue);
    --lighter-base-color: var(--lighter-blue);
    --lightest-base-color: var(--lightest-blue);
}

.rss .icon {
    // Filter for lighter-blue
    filter: invert(81%) sepia(21%) saturate(539%) hue-rotate(154deg) brightness(87%) contrast(95%);
}

main .steps li {
    color: var(--lightest-blue);
    background-color: var(--darker-blue);
}

main .steps li.pastStep {
    color: var(--lighter-blue);
    background-color: var(--dark-blue);
}

main .steps li[aria-current="step"] {
    color: var(--darker-blue);
    background-color: var(--lightest-blue);
}
