
:root {
    --darker-base-color: var(--darker-blue);
    --dark-base-color: var(--dark-blue);
    --base-color: var(--blue);
    --light-base-color: var(--light-blue);
    --lighter-base-color: var(--lighter-blue);
    --lightest-base-color: var(--lightest-blue);

    --tint-9: #e7eef4;
    --tint-8: #cfdde9;
    --tint-7: #b8ccde;
    --tint-6: #a1bbd3;
    --tint-5: #8aabc8;
    --tint-4: #739abd;
    --tint-3: #5c8ab1;
    --tint-2: #457aa6;
    --tint-1: #2b6a9a;
//    --base-color: #065a8f;
    --shade-1: #044d7c;
    --shade-2: #034169;
    --shade-3: #023557;
    --shade-4: #012945;
    --shade-5: #011e34;
    --shade-6: #001324;
    --shade-7: #000915;
    --shade-8: #000307;
    --shade-9: #000001;
}

.rss .icon {
    // Filter for lighter-blue
    filter: invert(81%) sepia(21%) saturate(539%) hue-rotate(154deg) brightness(87%) contrast(95%);
}

main .steps li {
    color: var(--lighter-blue);
    background-color: var(--darker-blue);
}

main .steps li.pastStep {
    color: var(--lighter-blue);
    background-color: var(--dark-blue);
}

main .steps li[aria-current="step"] {
    color: var(--darker-blue);
    background-color: var(--lightest-blue);
}
