
//noinspection CssInvalidFunction // PHPStorm is a harsh mistress
body {
    color: light-dark(var(--black), var(--white));
    background-color: light-dark(var(--white), var(--base-color));
}

.main-contents p.snippet {
    color: var(--lighter-base-color);
    background-color: inherit;
}

//noinspection CssInvalidFunction
.footer-button {
    color: light-dark(var(--dark-base-color), var(--lighter-gray));
    background-color: transparent;
    border-color: transparent;
}

//noinspection CssInvalidFunction
a:link,
a:visited {
    color: light-dark(var(--base-color), var(--base-color));
    background-color: transparent;
}

//noinspection CssInvalidFunction
a:active,
a:hover {
    color: light-dark(var(--light-base-color), var(--lighter-base-color));
    background-color: transparent;
}

//noinspection CssInvalidFunction
.secondary-navigation a.top-bottom-button:link,
.secondary-navigation a.top-bottom-button:visited {
    color: light-dark(var(--dark-base-color), var(--light-base-color));
    background-color: transparent;
}

//noinspection CssInvalidFunction
.secondary-navigation a.top-bottom-button:hover {
    color: light-dark(var(--dark-base-color), var(--yellow-green));
    background-color: transparent;
}

//noinspection CssInvalidFunction
.link-button {

}

//noinspection CssInvalidFunction
.primary-button {

}

//noinspection CssInvalidFunction
.secondary-button {

}

.theme-toggle,
.theme-toggle::after {
    background-color: var(--lighter-base-color);
}

.theme-toggle::before {
    background-color: var(--gold);
}

.theme-toggle:checked::before {
    background-color: var(--light-gray);
}

.theme-toggle:checked,
.theme-toggle:checked::after {
    background-color: var(--darker-base-color);
}

//noinspection CssInvalidFunction
form small {
    color: light-dark(var(--base-color), var(--dark-base-color));
    background-color: inherit;
}

//noinspection CssInvalidFunction
form {
    background-color: light-dark(var(--black), var(--lightest-base-color));
    border: none;
}

form.logout-form {
    background-color: transparent;
}

//noinspection CssInvalidFunction
label,
legend {
    color: light-dark(var(--black), var(--dark-base-color));
    background-color: transparent;
}

//noinspection CssInvalidFunction
/*
.main-contents a,
.main-contents a:hover {
    color: light-dark(var(--blue), var(--yellow-green));
    background-color: inherit;
}
*/

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
select,
textarea {
    color: var(--darker-base-color);
    background-color: var(--lightest-base-color);
    border: 1px solid var(--darker-base-color);
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
    color: var(--black);
    background-color: var(--white);
}

//noinspection CssInvalidFunction
.main-contents form {
    color: light-dark(var(--dark-base-color), var(--dark-base-color));
    background-color: var(--lightest-base-color);
}

.cta-button:link,
.cta-button:visited {
    color: var(--black);
    background-color: var(--yellow-green);
    border-color: var(--yellow-green);
}

.cta-button:active,
.cta-button:hover {
    color: var(--yellow-green);
    background-color: var(--black);
}

.danger-button {
    color: var(--white);
    background-color: var(--is-danger);
    border-color: var(--is-danger);
}

.danger-button:hover {
    color: var(--is-danger);
    background-color: var(--white);
}

.primary-button {
    color: var(--white);
    background-color: var(--dark-base-color);
    border-color: var(--dark-base-color);
}

.primary-button:hover {
    color: var(--dark-base-color);
    background-color: var(--yellow-green);
}

.secondary-button {
    color: var(--dark-base-color);
    background-color: var(--lightest-base-color);
    border-color: var(--dark-base-color);
}

.secondary-button:hover {
    color: var(--dark-base-color);
    background-color: var(--yellow-green);
}

.tertiary-button {
    color: var(--dark-base-color);
    background-color: transparent;
    border-color: transparent;
}

.tertiary-button {
    color: var(--dark-base-color);
    background-color: transparent;
    border-color: transparent;
}

*:disabled {
    opacity: 1;
}

.next,
.previous {
    border-width: 1px;
    border-style: solid;
    border-color: var(--lighter-base-color);
}

.notification.is-danger {
    color: var(--is-danger);
    background-color: var(--white);
    border-color: var(--is-danger);
}

// TODO: Need color vars

.notification.is-success {
    background-color: #e5faf3;
    border-color: #00cc88;
}

.notification.is-warning {
    background-color: #fff7bf;
    border-color: #ff9d00;
}

//noinspection CssInvalidFunction
.notification.is-info {
    color: light-dark(var(--base-color), var(--base-color));
    background-color: light-dark(var(--lightest-base-color), var(--lightest-base-color));
    border-color: var(--darker-base-color);
}

.notification.is-info a:link,
.notification.is-info a:visited {
    color: var(--white);
    background-color: var(--dark-base-color);
}

.notification.is-info a:active,
.notification.is-info a:hover {
    color: var(--dark-base-color);
    background-color: var(--white);
}

//noinspection CssInvalidFunction
.main-sidebar section {
    color: light-dark(var(--dark-gray), var(--lightest-base-color));
    background-color: light-dark(var(--lightest-gray), var(--dark-base-color));
}

//noinspection CssInvalidFunction
.main-sidebar summary {
    color: light-dark(var(--dark-gray), var(--white));
    background-color: light-dark(var(--lighter-gray), var(--darker-base-color));
}

//noinspection CssInvalidFunction
.comment a:active,
.comment a:hover,
.post a:active,
.post a:hover {
    color: light-dark(var(--white), var(--yellow-green));
    background-color: light-dark(var(--dark-base-color), var(--darker-base-color));
}

//noinspection CssInvalidFunction
.nickname-prompt {
    color: light-dark(var(--gray), var(--lightest-base-color));
    background-color: inherit;
}

//noinspection CssInvalidFunction
.post-navigation,
.post-navigation-menu a:link,
.post-navigation-menu a:visited {
    color: light-dark(var(--base-color), var(--yellow-green));
    background-color: light-dark(var(--lightest-gray), var(--dark-base-color));
}

//noinspection CssInvalidFunction
.post-navigation-menu a:active,
.post-navigation-menu a:hover {
    color: light-dark(var(--base-color), var(--dark-base-color));
    background-color: light-dark(var(--white), var(--yellow-green));
}

//noinspection CssInvalidFunction
.post-navigation-menu a[aria-current='page'] {
    color: light-dark(var(--white), var(--yellow-green));
    background-color: light-dark(var(--base-color), var(--darker-base-color));
}

//noinspection CssInvalidFunction
.post-navigation-menu a[aria-current='page']::after {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: light-dark(var(--base-color), var(--base-color));
}

.profile h2 {
    border-bottom-color: var(--lighter-base-color);
}

//noinspection CssInvalidFunction
.striped tbody tr:nth-child(even) {
    color: light-dark(var(--base-color), var(--white));
    background-color: light-dark(var(--white), var(--base-color));
}

//noinspection CssInvalidFunction
.striped tbody tr:nth-child(even) {
    color: light-dark(var(--base-color), var(--white));
    background-color: light-dark(var(--white), var(--base-color));
}

.primary-navigation,
.primary-navigation-menu a:link,
.primary-navigation-menu a:visited {
    color: var(--base-color);
    background-color: var(--lighter-base-color);
}

//noinspection CssInvalidFunction
.primary-navigation-menu a:active,
.primary-navigation-menu a:hover {
    color: light-dark(var(--base-color), var(--white));
    background-color: light-dark(var(--white), var(--base-color));
}

//noinspection CssInvalidFunction
.primary-navigation-menu a[aria-current='page'] {
    color: light-dark(var(--white), var(--base-color));
    background-color: light-dark(var(--base-color), var(--white));
}

//noinspection CssInvalidFunction
.primary-navigation-menu a[aria-current='page']:active,
.primary-navigation-menu a[aria-current='page']:hover {
    color: light-dark(var(--base-color), var(--white));
    background-color: light-dark(var(--white), var(--base-color));
}

//noinspection CssInvalidFunction
.secondary-navigation,
.secondary-navigation-menu a:link,
.secondary-navigation a:visited {
    color: light-dark(var(--base-color), var(--yellow-green));
    background-color: light-dark(var(--lightest-gray), var(--dark-base-color));
}

//noinspection CssInvalidFunction
.secondary-navigation-menu a:active,
.secondary-navigation-menu a:hover {
    color: light-dark(var(--white), var(--dark-base-color));
    background-color: light-dark(var(--base-color), var(--white));
}

.tagline {
    color: var(--lighter-base-color);
    background-color: inherit;
}

//noinspection CssInvalidFunction
.years-ago a:link,
.years-ago a:visited {
    color: light-dark(var(--base-color), var(--white));
    background-color: light-dark(var(--white), var(--base-color));
}

//noinspection CssInvalidFunction
.years-ago a:active,
.years-ago a:hover {
    color: light-dark(var(--white), var(--base-color));
    background-color: light-dark(var(--base-color), var(--white));
}

// TODO: Adapt to aria-current='page' triangle
body.subsite-metatalk.dark-mode nav.tertiary li.current a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #323232;
    margin-bottom: -8px;
}
