
:root {
    --darker-color: var(--darker-green);
    --dark-color: var(--dark-green);
    --color: var(--green);
    --light-color: var(--light-green);
    --lighter-color: var(--lighter-green);
    --lightest-base-color: var(--lightest-green);
}

.rss .icon {
    // Filter for lighter-green
    filter: invert(93%) sepia(6%) saturate(518%) hue-rotate(76deg) brightness(85%) contrast(91%);
}
