
// Light mode

.dropdown-toggle::after {
    border-bottom-color: var(--light-purple);
}

.fine-print,
.global-navigation,
.global-navigation .dropdown-menu a:link {
    background-color: var(--light-purple);
}

.dropdown-toggle::after {
    border-bottom-color: var(--light-purple);
}

.input-add-on .icon-search {
    background-color: var(--darker-purple);
}

.mode-switcher [aria-pressed=true]::after {
    color: var(--light-purple);
    border-color: var(--light-purple);
}

.mode-switcher [aria-pressed=true]::before {
    background-color: var(--light-purple);
    border-color: var(--light-purple);
}

.primary-navigation,
.primary-navigation a:link,
.primary-navigation a:visited {
    color: var(--purple);
    background-color: var(--lighter-purple);
}

.primary-navigation a[aria-current='page']:link,
.primary-navigation a[aria-current='page']:visited {
    color: var(--purple);
    background-color: var(--white);
}

.primary-navigation a:active,
.primary-navigation a:hover {
    color: var(--white);
    background-color: var(--light-purple);
}

.secondary-navigation a:link,
.secondary-navigation a:visited {
    color: var(--purple);
}

.secondary-navigation a:active,
.secondary-navigation a:hover {
    background-color: var(--lighter-purple);
}

.site-footer {
    background-color: var(--purple);
    border-top-color: var(--lighter-purple);
}

.site-footer a.rss {
    color: var(--lighter-purple);
}

.site-header {
    color: var(--light-purple);
    background-color: var(--purple);
}

/*
.site-header button {
    color: var(--lighter-purple);
}
*/

.tagline {
    color: var(--light-purple);
}

// Dark mode

body.dark-mode,
.dark-mode .primary-navigation a[aria-current='page']:link {
    background-color: var(--purple);
}

.dark-mode .secondary-navigation .container,
.dark-mode .secondary-navigation a:link,
.dark-mode .secondary-navigation a:visited {
    color: var(--yellow-purple);
    background-color: var(--dark-purple);
}

.dark-mode .sidebar section {
    background-color: var(--dark-purple);
}

.dark-mode input[type="search"] {
    background-color: var(--lightest-purple);
}
