
:root {
    --darker-color: var(--darker-purple);
    --dark-color: var(--dark-purple);
    --color: var(--purple);
    --light-color: var(--light-purple);
    --lighter-color: var(--lighter-purple);
}
