
:root {
    --darker-color: var(--darker-russet);
    --dark-color: var(--dark-russet);
    --color: var(--russet);
    --light-color: var(--light-russet);
    --lighter-color: var(--lighter-russet);
}
