
@use "colors";
@use 'default';

:root {
    --darker-color: var(--darker-russet);
    --dark-color: var(--dark-russet);
    --color: var(--russet);
    --light-color: var(--light-russet);
    --lighter-color: var(--lighter-russet);
    --lightest-base-color: var(--lightest-russet);
}

.rss .icon {
    // Filter for lighter-russet
    filter: invert(76%) sepia(35%) saturate(370%) hue-rotate(344deg) brightness(92%) contrast(88%);
}

@use "themeable";
