
:root {
    --darker-base-color: var(--darker-blue);
    --dark-base-color: var(--dark-blue);
    --base-color: var(--blue);
    --light-base-color: var(--light-blue);
    --lighter-base-color: var(--lighter-blue);
}
