
:root {
    --darker-color: var(--darker-music-black);
    --dark-color: var(--dark-music-black);
    --color: var(--music-black);
    --light-color: var(--light-music-black);
    --lighter-color: var(--lighter-music-black);
}
