
.font-normal .site-title-text {
    font-style: italic;
    font-weight: bold;
}

.font-normal .site-title-text .blue {
    color: var(--blue);
}

.font-normal .site-title-text .green {
    color: var(--yellow-green);
}
